# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Django specific
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3

# Media and Static files
/static/
/media/

# Local development settings
settings_local.py
.env

# Unit test / Coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy type checker
.mypy_cache/
.dmypy.json
.dmypy.json.5

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
*.swp
*.swo
.idea/
*.iml
*.sublime-project
*.sublime-workspace

# Pycharm
*.idea/*
*.iml
*.iws
*.ipr
out/
